/* Bootstrap handled most styles. Custom tweaks below. */

.hover-bg-light:hover {
    background-color: #f8fafc;
}

.nav-link.active {
    background: var(--bs-primary) !important;
}

.hover-bg-danger-subtle:hover {
    background-color: #fee2e2 !important;
    color: #ef4444 !important;
}

.fw-600 {
    font-weight: 600;
}